*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.setting-wrapper{
    width: 100%;
    padding: 20px;
    animation: fadeIn 0.5s ease-in-out;
}
.setting-paper{
    padding: 40px !important;
    border-radius: 25px !important;
    background: rgba (255,255,255,0.98) !important;
    box-shadow: 0 15px 35px rgba(0,0,0,0.1) !important;
}
.profile-section{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.admin-avatar{
    width: 100px !important;
    height: 100px !important;
    font-size: 2.5rem !important;
    background: linear-gradient(135deg, #6366f1, #a855f7) !important;
    box-shadow: 0 4px 12px rgba(99, 102, 241, 0.4);
}
.profile-text h5{
    color: #1e293b;
    margin-bottom: 5px !important;
}
.setting-field{
    border-radius: 12px !important;
}
.setting-field .MuiOutlinedInput-root{
    border-radius: 12px !important;
}
.save-setting-btn{
    background-color: #1e293b !important;
    color: white !important;
    padding: 12px 40px !important;
    font-weight: bold !important;
    border-radius: 0%10px !important;
    text-transform: none !important;
    transition: 0.3s ease !important;
}
.save-setting-btn:hover{
    background-color: #334155 !important;
    transform:  translateY(-2px);
}
@keyframes fadeIn{
    from{opacity: 0; transform: translateY(10px);}
    to{opacity: 1; transform: translateY(0);}
}